config/aurral/
config/navidrome/cache/
downloads/
aurral_flows/
.env
docker/.env
config/lidarr/lidarr.db
config/lidarr/logs.db
config/lidarr/MediaCover/
config/lidarr/logs/
config/lidarr/cache/
config/lidarr/*.db
config/lidarr/*.json
config/lidarr/
config/navidrome/
config/slskd/data/
*.db
*.db-wal
*.db-shm
*.pid
