CONFIG=/media/beryl/nvme/musicserver/config
DOWNLOADS=/media/beryl/nvme/musicserver/downloads
MUSIC=/media/beryl/data/Music
AURRAL_DOWNLOADS=/media/beryl/nvme/musicserver/aurral_flows
PUID=1000
PGID=1000
